@use '../../styles/partials/colors' as clr;
@use '../../styles/partials/custom-media' as *;
@use '../../styles/partials/component-sizes' as size;

.sidebar {
  background-color: clr.$primary-medium-transparent;

  height: 100%;
}

.listWrapper {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.scroller {
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

.scrollerInner {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  padding: 0.5rem;
}

@include custom-media(max, lg) {
  .sidebar {
    background-color: hsla(0, 0%, 20%, 0.5);
    backdrop-filter: blur(0.5rem);

    position: absolute;
    right: 0;
    width: size.$user-list-width;
    z-index: 1000;

    transform: translateX(100%);
    transition: transform 200ms ease;

    &.active {
      transform: translateX(0%);
    }
  }
}
