@use "../../styles/partials/colors" as clr;
@use "../../styles/partials/font-sizes" as fs;
@use "../../styles/partials/placeholder-selectors";

.nav {
  background-color: clr.$primary-medium-transparent;

  height: 100%;
}

.title {
  font-size: fs.$medium;
  @extend %text-ellipsis;
  @extend %top-section;
}
