@use "../partials/colors" as clr;
@use "../partials/gaps" as gp;
@use "../partials/screen-breakpoints" as sb;
@use "../partials/component-sizes" as size;
@use "../partials/placeholder-selectors";

.primaryContainer {
  background-image: url(/img/background-alt.webp);
  @extend %full-size-background;
  @extend %darker-background;

  display: grid;
  grid-template-columns: 1fr;
  color: clr.$secondary-light;
  overflow-wrap: break-word;
  user-select: none;

  position: relative;

  &.disabled::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
  }
}

.secondaryContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr size.$inside-nav-width;
  grid-template-rows: gp.$biggest 1fr;
}

@media (min-width: sb.$min-desktop) {
  .primaryContainer {
    grid-template-columns: size.$navigations-width 1fr;
  }
}
