$primary-light: #212931;
$primary-medium: #181f25;
$primary-dark: #0e1215;
$primary-darker: #07090a;

$primary-light-transparent: transparentize(
  $color: $primary-light,
  $amount: 0.3,
);
$primary-medium-transparent: transparentize(
  $color: $primary-medium,
  $amount: 0.3,
);
$primary-dark-transparent: transparentize(
  $color: $primary-dark,
  $amount: 0.3,
);
$primary-darker-transparent: transparentize(
  $color: $primary-darker,
  $amount: 0.3,
);

$secondary-light: #ffffff;
$secondary-medium: #cbcbcd;
$secondary-dark: #8e9297;

$success: #3f9142;
$warning: yellow;
$danger: hsl(0, 90%, 40%);
$info: hsl(209, 80%, 60%);
