@use '../partials/colors' as clr;
@use '../partials/screen-breakpoints' as sb;
@use '../partials/component-sizes' as size;
@use '../partials/placeholder-selectors';

.primaryContainer {
  background-image: url(/img/background-alt.webp);
  @extend %full-size-background;
  @extend %darker-background;

  overflow-wrap: break-word;
  user-select: none;

  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.secondaryContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr;
}

@media (max-width: sb.$max-mobile) {
  .primaryContainer {
    &::after {
      content: '';
      background-color: hsla(0, 0%, 0%, 0.7);

      position: absolute;
      inset: 0;

      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms ease;
    }

    &.disabled::after {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

@media (min-width: sb.$min-desktop) {
  .primaryContainer {
    grid-template-columns: size.$navigations-width 1fr;
  }

  .secondaryContainer {
    grid-template-columns: 1fr size.$user-list-width;
  }
}
