@use "../partials/colors" as clr;
@use "../partials/gaps" as gp;
@use "../partials/placeholder-selectors";

$max-width: 350px;

.container {
  background-image: url(/img/background.webp);
  @extend %full-size-background;
  @extend %darker-background;

  @extend %flex-container;
}

.loginCard {
  background-color: clr.$primary-light-transparent;
  backdrop-filter: blur(0.25rem);

  color: clr.$secondary-light;

  display: grid;
  justify-items: center;
  align-items: center;

  margin: gp.$medium;
  padding: gp.$bigger;
  border-radius: 10px;
}

.login {
  text-align: center;

  width: 100%;
}

.subtitle {
  color: clr.$secondary-dark;
  font-size: 1rem;
}

.loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: gp.$big;
}

.usernameInput,
.submitButton {
  color: clr.$secondary-light;

  width: 100%;

  padding: gp.$smaller gp.$small;
  border-radius: 5px;
}

.usernameInput {
  background-color: clr.$primary-medium-transparent;

  border: 1px solid clr.$primary-dark;
}

.submitButton {
  background-color: clr.$success;

  margin-top: 0.5rem;
}

.user {
  background-color: clr.$primary-medium-transparent;

  display: grid;
  justify-items: center;
  width: 100%;
  max-width: $max-width;
  height: 100%;

  border: 1px solid clr.$primary-dark;
  border-radius: 10px;

  img {
    border-radius: 50%;
  }
}

.username {
  background-color: clr.$primary-dark;

  text-align: center;
  @extend %text-ellipsis;

  max-width: 100%;

  padding-inline: gp.$medium;
  border-radius: 100vw;
}

@media (max-width: 649px) {
  .loginCard {
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
  }

  .user {
    gap: gp.$small;
    padding: gp.$small;

    a,
    img {
      height: 100%;
      max-height: 100px;
    }
  }
}

@media (min-width: 650px) {
  .loginCard {
    gap: 5rem;
    grid-template-columns: 1fr 200px;
    width: clamp(500px, 90vw + 1rem, 650px);
  }

  .user {
    gap: gp.$medium;
    padding: gp.$medium;

    a,
    img {
      width: 100%;
    }
  }
}
