@use '../partials/custom-media' as *;
@use '../partials/colors' as clr;
@use '../partials/placeholder-selectors';

$max-width: 350px;

.container {
  background-image: url(/img/background.webp);
  @extend %full-size-background;
  @extend %darker-background;

  @extend %flex-container;
}

.loginCard {
  background-color: clr.$primary-light-transparent;

  text-align: center;

  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;

  backdrop-filter: blur(0.25rem);
}

.subtitle {
  color: clr.$secondary-dark;
  font-size: 1rem;
}

.loginButton {
  background-color: clr.$success;

  width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 2rem;
  border-radius: 5px;
}
