@use "./partials/colors" as clr;
@use "./partials/gaps" as gp;

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background-color: clr.$secondary-light;
  margin-block: gp.$small;
}

::-webkit-scrollbar-thumb {
  background-color: clr.$primary-dark;
  background-clip: content-box;
  border: 2px solid transparent;
}

:focus-visible {
  outline: 3px solid clr.$info;
  border-radius: 0.125em;
  outline-offset: 0.125em;
  z-index: 1;
}

html {
  position: fixed;
  inset: 0;
}

body {
  overflow-x: hidden;
  color: clr.$secondary-light;
}

button,
input,
textarea {
  color: inherit;
}

button {
  background-color: unset;
  cursor: pointer;
}

/* 
  Utility class to hide elements on the screen but
  remaining it accessible through assistant technologies
  SR = Screen Reader
*/
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation: fade-in 500ms;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .fade-out {
    animation: fade-out 500ms;

    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
