%flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

%full-size-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

%darker-background {
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: black;
    opacity: 0.2;
    z-index: -1;
  }
}
