@use "../../../styles/partials/colors" as clr;
@use "../../../styles/partials/gaps" as gp;
@use "../../../styles/partials/placeholder-selectors";

.card {
  border-radius: 5px;

  &:hover {
    background-color: clr.$primary-dark-transparent;
  }

  button {
    display: flex;
    gap: gp.$small;
    align-items: center;
    width: 100%;

    padding: gp.$smaller gp.$small;
  }
}

.avatar {
  width: 35px;
  aspect-ratio: 1;

  border-radius: 50%;
}

.username {
  font-weight: bold;
  @extend %text-ellipsis;
}
