@use '../../../styles/partials/colors' as clr;
@use '../../../styles/partials/placeholder-selectors';

.card {
  border-radius: 5px;

  &:hover {
    background-color: clr.$primary-dark-transparent;
  }

  button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;

    padding: 0.25rem 0.5rem;
  }
}

.avatar {
  width: 35px;
  aspect-ratio: 1;

  border-radius: 50%;
}

.username {
  font-weight: bold;
  @extend %text-ellipsis;
}
