@use "../../../../styles/partials/colors" as clr;
@use "../../../../styles/partials/font-sizes" as fs;
@use "../../../../styles/partials/gaps" as gp;

.list {
  margin: gp.$small gp.$medium;
}

.title {
  font-size: fs.$small;
  color: clr.$secondary-dark;
  text-transform: uppercase;

  margin-bottom: gp.$smaller;

  cursor: pointer;

  &:hover {
    color: clr.$secondary-medium;
  }
}
