@use "../../../styles/partials/colors" as clr;
@use "../../../styles/partials/gaps" as gp;

.form {
  display: flex;
  flex-direction: row;
}

.input {
  background-color: clr.$primary-darker-transparent;

  width: 100%;
  min-height: 3rem;
  height: 3rem;
  max-height: 50vh;

  margin-inline: gp.$medium;
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;

  resize: none;

  color: clr.$secondary-light;
}
