@use '../../../../styles/partials/colors' as clr;
@use '../../../../styles/partials/font-sizes' as fs;

.channel {
  font-size: fs.$medium;
  color: clr.$secondary-dark;

  a {
    text-decoration: none;

    display: block;

    padding: 0.25rem 1rem;
    border-radius: 5px;

    &:is(:hover, :focus-visible) {
      background-color: clr.$primary-darker-transparent;

      color: clr.$secondary-medium;
    }
  }
}
