@use "../../../../styles/partials/colors" as clr;
@use "../../../../styles/partials/font-sizes" as fs;
@use "../../../../styles/partials/gaps" as gp;

.channel {
  font-size: fs.$medium;
  color: clr.$secondary-dark;

  border-radius: 5px;

  &:hover {
    background-color: clr.$primary-darker-transparent;

    color: clr.$secondary-medium;
  }

  a {
    color: inherit;
    text-decoration: none;

    display: block;

    padding: gp.$smaller gp.$medium;
  }
}
