$primary-light: #212931;
$primary-medium: #181f25;
$primary-dark: #0e1215;

$primary-light-transparent: transparentize(
  $color: $primary-light,
  $amount: 0.3,
);
$primary-medium-transparent: transparentize(
  $color: $primary-medium,
  $amount: 0.3,
);

$secondary-light: #ffffff;
$secondary-medium: #9aa5b1;
$secondary-dark: #717a83;

$success: #3f9142;
$warning: yellow;
$danger: red;
