$primary-light: #212931;
$primary-medium: #181f25;
$primary-dark: #0e1215;

$secondary-light: #ffffff;
$secondary-medium: #9aa5b1;
$secondary-dark: #717a83;

$success: #3f9142;
$warning: yellow;
$danger: red;