@use '../../../styles/partials/colors' as clr;
@use '../../../styles/partials/font-sizes' as fs;
@use '../../../styles/partials/gaps' as gp;
@use '../../../styles/partials/placeholder-selectors';

$avatar-width: 40px;

.message {
  position: relative;

  padding-left: calc($avatar-width + gp.$big);
  padding-right: gp.$medium;

  &:hover,
  &:focus-within {
    background-color: clr.$primary-darker-transparent;

    .buttons {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:hover {
    .timeStampTooltip {
      opacity: 1;
    }
  }
}

.avatar,
.username {
  cursor: pointer;
}

.avatar {
  position: absolute;
  left: gp.$medium;
  width: $avatar-width;
  aspect-ratio: 1/1;

  margin-top: gp.$smaller;
  border-radius: 50%;
}

.header {
  font-size: fs.$medium;

  display: flex;
  gap: gp.$small;

  margin-top: gp.$medium;
}

.username {
  @extend %text-ellipsis;

  &:hover {
    text-decoration: underline;
  }
}

.timeStamp,
.timeStampTooltip {
  font-size: fs.$smaller;
  font-weight: normal;
  color: clr.$secondary-dark;
}

.timeStampTooltip,
.buttons {
  position: absolute;

  opacity: 0;
}

.timeStampTooltip {
  user-select: none;

  left: gp.$medium;

  margin-top: 0.2rem;
}

.content {
  padding-bottom: gp.$smaller;
  white-space: break-spaces;

  a {
    color: clr.$info;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.buttons {
  right: gp.$medium;
  top: calc(gp.$medium * -1);
  pointer-events: none;

  img {
    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;
  }
}
